//  See _media-query.scss for shortcut mixins to use these breakpoints
$break-start-xxs: 0;
$break-end-xxs: 374px;

$break-start-xs: 375px;
$break-end-xs: 767px;

$break-start-s: 768px;
$break-end-s: 1023px;

$break-start-m: 1024px;
$break-end-m: 1231px;

$break-start-l: 1232px;
$break-end-l: 1471px;

$break-start-xl: 1472px;
$break-end-xl: 2559px;

$break-start-xxl: 2560px;